<h1>Editing incincome_loss_from_continuing_operations_before_income_tax</h1>

<%= render 'form' %>

<%= link_to 'Show', @incincome_loss_from_continuing_operations_before_income_tax %> |
<%= link_to 'Back', incincome_loss_from_continuing_operations_before_income_taxes_path %>
