<h1>Listing incincome_loss_from_continuing_operations_before_income_taxes</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Value</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incincome_loss_from_continuing_operations_before_income_taxes.each do |incincome_loss_from_continuing_operations_before_income_tax| %>
  <tr>
    <td><%= incincome_loss_from_continuing_operations_before_income_tax.company_id %></td>
    <td><%= incincome_loss_from_continuing_operations_before_income_tax.value %></td>
    <td><%= incincome_loss_from_continuing_operations_before_income_tax.start_date %></td>
    <td><%= incincome_loss_from_continuing_operations_before_income_tax.end_date %></td>

  </tr>
<% end %>
</table>

<br />

