<h1>Editing cf_cash_and_cash_equivalents_period_increase_decrease</h1>

<%= render 'form' %>

<%= link_to 'Show', @cf_cash_and_cash_equivalents_period_increase_decrease %> |
<%= link_to 'Back', cf_cash_and_cash_equivalents_period_increase_decreases_path %>
