<p class="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @add_comp_to_inc_gross_profit.company_id %>
</p>


<%= link_to 'Edit', edit_add_comp_to_inc_gross_profit_path(@add_comp_to_inc_gross_profit) %> |
<%= link_to 'Back', add_comp_to_inc_gross_profits_path %>
