<h1>Editing bal_liabilities_and_stockholders_equity</h1>

<%= render 'form' %>

<%= link_to 'Show', @bal_liabilities_and_stockholders_equity %> |
<%= link_to 'Back', bal_liabilities_and_stockholders_equities_path %>
