<h1>Editing cf_net_cash_provided_by_used_in_operating_activity</h1>

<%= render 'form' %>

<%= link_to 'Show', @cf_net_cash_provided_by_used_in_operating_activity %> |
<%= link_to 'Back', cf_net_cash_provided_by_used_in_operating_activities_path %>
