<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Document</title>
<script type="text/javascript" src="/jquery-1.3.2.js"></script>
<script type="text/javascript">
    $("document").ready(function() {
        //$("p[class]").css("border", "3px solid red");
        //$("p[id=para1]").css("border", "3px solid red");
        //$("p[id^=para]").css("border", "3px solid red");
        //$("p[id^=para][lang*=en-]").css("border", "3px solid red");
       $('.qwerty').click(function() {
          var a;
           a = $.ajax({
               type: "POST",
               url: "/sample3s",
               data: ({name : 12345}),
             dataType: "xml",
              async:false,
             success: function(msg){
             }
             }).responseText;
           $(".qwerty").after(a)
          });

          $('.qwerty').hover(function() {
          var a;
           a = $.ajax({
               type: "GET",
               url: "/sample3s/new",
             dataType: "html",
             success: function(msg){
                 $(".a").html(msg)
             }
             });
          });
    });
</script>
<style type="text/css">
.a { color: Navy; }
.b { color: Maroon; }
</style>
</head>
<body>
	<ul id="list1">
		<li class="a">item 1</li>
		<li class="a">item 2</li>
		<li class="b">item 3</li>
		<li class="b">item 4</li>
	</ul>
<p class="a">This is paragraph 1</p>
<p id="para1">This is paragraph 2</p>
<p class="b">This is paragraph 3</p>
<p id="para4" lang="en-us">This is paragraph 4</p>

<div class="qwerty">This is paragraph 1</div>
</body>
</html>
